<!DOCTYPE html> <!-- This line is a declaration to the web browser about what version of HTML the page is written in. -->
<html lang="en"> <!-- This line is the root of an HTML document. "lang" attribute specifies the language of the document. -->

  <head> <!-- This line is a container for metadata (data about data) and is placed between the <html> tag and the <body> tag. -->
    <meta charset="UTF-8" /> <!-- This line defines the character set used in the document. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> <!-- This line makes the webpage look good on all devices (responsive web design). -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" /> <!-- This line links to a global CSS file. -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing_page.css') }}" /> <!-- This line links to a CSS file for the landing page. -->
    <title>Landing Page</title> <!-- This line defines a title for the document. -->
 <!-- This line defines internal CSS. -->
    <style>
      #watch_status{ <!-- This line defines the style for the element with id="watch_status". -->
        font-family:Verdana, Geneva, Tahoma, sans-serif; <!-- This line sets the font of the text. -->
        font-weight: bold; <!-- This line sets the weight (boldness) of the font. -->
        font-size: 20px; <!-- This line sets the size of the font. -->
      }
    </style>
  </head>
  
  <body> <!-- This line contains the content of the document (the part that is displayed in a browser). -->

      <div class="center landing_container"> <!-- This line defines a division or a section in an HTML document with class="center landing_container". -->
        <div class="landing_title">Mind Game</div> <!-- This line defines a division with class="landing_title" and contains the text "Mind Game". -->
        <img style="width:min(100%, 550px); height: auto ; ", src="{{ url_for('static', filename='images/landing_page_v2.png') }}" alt="Group"> <!-- This line embeds an image. -->

        <div class="input-container watch"> <!-- This line defines a division with class="input-container watch". -->
          <div style="display: flex; flex-direction: column; align-items: center; gap: 5px; width: 100%;"> <!-- This line defines a division with inline CSS. -->
            <input type="text" placeholder="Identifier" id="identifier" /> <!-- This line defines an input field where the user can enter an identifier. -->
          </div>
        </div>

        <div class="btn_container" style="margin-bottom: 10px;"> <!-- This line defines a division with class="btn_container" and inline CSS. -->
          <button id="restore_btn" class="start_button" >Restore Progress</button> <!-- This line defines a button for restoring progress. -->
        </div>

        <div class="btn_container" id="navigation_buttons"> <!-- This line defines a division with class="btn_container" and id="navigation_buttons". -->
          <button id="in_lab_btn" class="start_button" >In Lab</button> <!-- This line defines a button for "In Lab". -->
          <button id="at_home_btn" class="start_button" >At Home</button> <!-- This line defines a button for "At Home". -->
          <a href="{{ url_for('tutorial') }}"><button class="start_button" >Tutorial</button></a> <!-- This line defines a link to the tutorial page. -->
        </div>
      </div>

  <script src="{{ url_for('static', filename='js/helper_functions.js') }}"></script> <!-- This line includes an external JavaScript file. -->
  <script src="{{ url_for('static', filename='js/home.js') }}"></script> <!-- This line includes another external JavaScript file. -->

    <script> // This line starts an internal JavaScript. -->
      // The following JavaScript code is used to manage the game status and navigation on the page.
    </script>

    <script> //This line starts another internal JavaScript. -->
      // The following commented out JavaScript code was used to manage the submission of the form.
    </script>
  </body> <!-- This line indicates the end of the body section. -->
</html> <!-- This line indicates the end of the HTML document. -->
