<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/global.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/landing_page.css') }}"
    />
    <title>Landing Page</title>

    <style>
      #watch_status{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 20px;
      }
    </style>
  </head>
  
  <body>


      <div class="center landing_container">
        <div class="landing_title">Mind Game</div>
        <img 
        style="width:min(100%, 550px); height: auto ; ",
        src="{{ url_for('static', filename='images/landing_page_v2.png') }}"
        alt="Group">

        <!-- <div class="text_container_m5connection">Waiting for M5 to connect... </div> -->



        <div class="input-container watch">
          <div style="display: flex; flex-direction: column; align-items: center; gap: 5px; width: 100%;">
            <input type="text" placeholder="Identifier" id="identifier" />
            <!-- <input type="text" placeholder="Watch ID" id="watchID" /> -->
          </div>

        </div>

        <div class="btn_container" style="margin-bottom: 10px;">


          <button id="restore_btn" class="start_button" >Restore Progress</button>

        </div>

        <div class="btn_container" id="navigation_buttons">


          <button id="in_lab_btn" class="start_button" >In Lab</button>
          <button id="at_home_btn" class="start_button" >At Home</button>
          <a href="{{ url_for('tutorial') }}"><button class="start_button" >Tutorial</button></a>

          <!-- <button id="submitBtn"  class="start_button" required> Start </button> -->
        </div>


      </div>
      


    </div>
  <script src="{{ url_for('static', filename='js/helper_functions.js') }}"></script>

    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script>
      let mindgameStatus = getLocalStorageOrNull("mindgame_progress");
      if(mindgameStatus == null){
        localStorage.setItem("mindgame_progress", "home");
      } 


      const restoreBtn = document.getElementById("restore_btn");
      restoreBtn.style.display = mindgameStatus !== "home" ? "block" : "none";

      const navigation_buttons = document.getElementById("navigation_buttons");
      navigation_buttons.style.display = mindgameStatus !== "home" ? "none" : "block";





      function updateRestoreButtonText() {
        if (mindgameStatus === "tiles" || mindgameStatus === "precheck") {
          const currentLevel = Number(localStorage.getItem("mindgame_next_level"));
          const sub = Number(localStorage.getItem("mindgame_next_sublevel"));
          restoreBtn.innerHTML += ` Level ${currentLevel}-${sub}`;
        } else if (mindgameStatus === "nogo") {
          restoreBtn.innerHTML += ": NoGo";
        } else if (mindgameStatus === "intake") {
          restoreBtn.innerHTML += ": In Take Form";
        }
      }

      function redirectToPage() {
        switch (mindgameStatus) {
          case "tiles":
          case "precheck":
            window.location = "/mindgame_precheck";
            break;
          case "nogo":
            window.location = "/nogo";
            break;
          case "intake":
            window.location = "/start_application/athome";
            break;
        }
      }

      if (mindgameStatus !== "home") {
        updateRestoreButtonText();
        restoreBtn.addEventListener("click", redirectToPage);
      }
      
      
    </script>
    

    <script>
      
      /*const submitBtn = document.getElementById("submitBtn");
      submitBtn.addEventListener("click", () => {

        // Please remove
        localStorage.setItem("watchID", watchID_input.value);
        localStorage.setItem("userID", userID_input.value);
        localStorage.setItem("currentLevel", 1);
        localStorage.setItem("currentSubLevel", 1);

  
        window.location.href = "/tiles_game"; //Send to game


        if (!watchID_input.value.match(/\S/)) {
          alert("Watch ID is empty");
          return;
        }

        if (!userID_input.value.match(/\S/)) {
          alert("Identifier is empty");
          return;
        }

        //localStorage.setItem("watchID", watchID_input.value);
        //localStorage.setItem("userID", userID_input.value);
        //localStorage.setItem("currentLevel", 1);
        //localStorage.setItem("currentSubLevel", 1);

  
        //window.location.href = "/tiles_game"; //Send to game
        

      })*/
      
    </script>
  </body>
</html>
