<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/global.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/landing_page.css') }}"
    />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <title>Landing Page</title>

    <style>
      #watch_status{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 20px;
      }
    </style>
  </head>
  
  <body>


      <div class="center landing_container">
        <div class="landing_title">Mind Game</div>
        <img 
        style="width:min(100%, 550px); height: auto ; ",
        src="{{ url_for('static', filename='images/landing_page_v2.png') }}"
        alt="Group">

        <!-- <div class="text_container_m5connection">Waiting for M5 to connect... </div> -->



        <div class="input-container watch">
          <div style="display: flex; flex-direction: column; align-items: center; gap: 5px; width: 100%;">
            <input type="text" placeholder="Identifier" id="identifier" />
            <!-- <input type="text" placeholder="Watch ID" id="watchID" /> -->
          </div>

        </div>

        <div id="restore_btn_container" class="btn_container" style="margin-bottom: 10px;">


          <button id="restore_btn" class="start_button" >Restore Progress</button>
          <button id="reset_ls_btn" class="start_button" >Reset LS</button>

          <!-- <a href="{{ url_for('tutorial') }}"><button class="start_button" >Tutorial</button></a> -->

        </div>

        <div class="btn_container" id="navigation_buttons">


          <button id="in_lab_btn" class="start_button" >In Lab</button>
          <button id="at_home_btn" class="start_button" >At Home</button>
          <a href="{{ url_for('tutorial') }}"><button class="start_button" >Tutorial</button></a>

          <!-- <button id="submitBtn"  class="start_button" required> Start </button> -->
        </div>


      </div>
      


    </div>
    <script src="{{ url_for('static', filename='js/helper_functions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script>
      // Make sure its stopped
      stop_mqtt_data_collection() 

    </script>
    
  </body>
</html>
