<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/precheck.css') }}" />

    <title>PreCheck</title>
  </head>
  <body>
    <div class="container">
      <div class="pregame_header">MindGame Pre-Check</div>
      <div class="pregame_directions">This is to ensure that your watch is functioning properly<br />Open the app and start sending data<br />Then input your watch ID and check its status</div>
      <div style="display: flex; flex-direction: column; align-items: center; gap: 5px; width: 100%">
        <!-- <div class="pregame_id">UserID: <span>P1</span></div> -->
        <input type="text" placeholder="Watch ID" id="watchID_input" />
      </div>

      <div class="pregame_status_container">
        <button id="watch_status_check_btn" class="start_button">Check Watch Status</button>
        <div class="pregame_watch_status" id="watch_status_text">Offline</div>
        <svg id="watch_status_loading" class="second_spinner" viewBox="0 0 50 50">
          <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
        </svg>
      </div>

      <div class="h_center"><button id="mindgame_start_btn" class="start_button pregame_disabled">Start MindGame</button></div>

      <div class="pregame_id" id="pregame_id">User ID: &nbsp;</div>
    </div>

    <script src="{{ url_for('static', filename='js/helper_functions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/watch_check.js') }}"></script>

    <script>
      localStorage.setItem(LOCALSTORAGE_PROGRESS, MINDGAME_PROGRESS_ENUM.PRECHECK);
    </script>

    <script>
      const g_mindgame_start_btn = document.getElementById("mindgame_start_btn");
      const g_show_user_id = document.getElementById("pregame_id");
      let g_watch_status = false;

      function prefillWatchWithLocalStorage() {
        const watchID = getLocalStorageOrNull(LOCALSTORAGE_WATCHID);
        g_watchID_input.value = watchID;
      }
      prefillWatchWithLocalStorage();

      // Event listner for the check status button
      g_watch_check_watch_status_btn.addEventListener("click", async () => {
        // Disable button so we dont press again
        g_mindgame_start_btn.classList.add("pregame_disabled");

        // Retrive WatchID
        const watchID = g_watchID_input.value;
        if (!watchID.match(/\S/)) {
          alert("Watch ID is empty");
          return;
        }

        // Store the ID and handle its status
        localStorage.setItem(LOCALSTORAGE_WATCHID, watchID);
        await handleWatchStatusCheck((status) => {
          if (status == "online") {
            g_watch_status = true;
            g_mindgame_start_btn.classList.remove("pregame_disabled");
          } else {
            g_watch_status = false;
            g_mindgame_start_btn.classList.add("pregame_disabled");
          }
        });
      });

      // Event listner for the start mindgame button
      g_mindgame_start_btn.addEventListener("click", () => {
        const watchID = g_watchID_input.value;
        if (!watchID.match(/\S/)) {
          alert("Watch ID is empty");
          return;
        }

        if (g_mindgame_start_btn.classList.contains("pregame_disabled")) return;

        if (getLocalStorageOrNull(LOCALSTORAGE_USERID) == null) {
          alert("Cannot start MindGame as there is no userID saved to differentiate the data");
          return;
        }

        // Start Tiles Games, default to 1-1 if not specified
        localStorage.setItem(LOCALSTORAGE_CURR_LEVEL, getLocalStorageOrNull(LOCALSTORAGE_NEXT_LEVEL) == null ? 1 : getLocalStorageOrNull(LOCALSTORAGE_NEXT_LEVEL));
        localStorage.setItem(LOCALSTORAGE_CURR_SUBLEVEL, getLocalStorageOrNull(LOCALSTORAGE_NEXT_SUBLEVEL) == null ? 1 : getLocalStorageOrNull(LOCALSTORAGE_NEXT_SUBLEVEL));
        window.location = "/tiles_game";
      });

      // Show userID
      g_show_user_id.innerHTML += getLocalStorageOrNull(LOCALSTORAGE_USERID) == null ? "No UserID found" : getLocalStorageOrNull(LOCALSTORAGE_USERID);
    </script>
  </body>
</html>
