<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/precheck.css') }}" />

    <title>PreCheck</title>
  </head>
  <body>
    <div class="container">
      <div class="pregame_header">MindGame Pre-Check</div>
      <div class="pregame_directions">This is to ensure that your watch is functioning properly<br />Open the app and start sending data<br />Then input your watch ID and check its status</div>
      <div style="display: flex; flex-direction: column; align-items: center; gap: 5px; width: 100%">
        <!-- <div class="pregame_id">UserID: <span>P1</span></div> -->
        <input type="text" placeholder="Watch ID" id="watchID_input" />
      </div>

      <div class="pregame_status_container">
        <button id="watch_status_check_btn" class="start_button">Check Watch Status</button>
        <div class="pregame_watch_status" id="watch_status_text">Offline</div>
        <svg id="watch_status_loading" class="second_spinner" viewBox="0 0 50 50">
          <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
        </svg>
      </div>

      <div class="h_center"><button id="mindgame_start_btn" class="start_button pregame_disabled">Start MindGame</button></div>

      <div class="pregame_id" id="pregame_id">User ID: &nbsp;</div>
    </div>

    <script src="{{ url_for('static', filename='js/precheck.js') }}"></script>
  </body>
</html>
