<!DOCTYPE html> <!-- Defines the document type -->
<html lang="en"> <!-- Start of HTML document with English language -->
  <head> <!-- Start of head section -->
    <meta charset="UTF-8" /> <!-- Defines character encoding for the document -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> <!-- Makes the webpage responsive on different devices -->
    <title>Tutorial</title> <!-- Title of the webpage -->

    <!-- Link to the CSS file for this webpage -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/tutorial.css') }}"
    />
  </head> <!-- End of head section -->
  <body> <!-- Start of body section -->
    <div class="tutorial_container"> <!-- Start of tutorial container -->
      <div class="tutorial_title">Let's learn how to play the game!</div> <!-- Title of the tutorial -->
      <div class="tutorial_desc"> <!-- Description of the tutorial -->
        Welcome to this tutorial, where we'll show you the ropes of playing and
        smoothly navigating the Mind Game. We'll take you through it step by
        step, making sure you grasp the basics of gameplay. Plus, we'll dish out
        some tips on how to make the most out of this app. Let's get started on
        this fun learning journey!
      </div>
      <img id="tutorial_media" /> <!-- Image element for tutorial media -->

      <button class="tutorial_btn" id="tutorial_next_btn">Next</button> <!-- Button to go to the next step of the tutorial -->
    </div> <!-- End of tutorial container -->
    <div class="tutiorial_progress_bar_container"> <!-- Start of progress bar container -->
      <div class="tutorial_progress_bar"></div> <!-- Progress bar -->
    </div> <!-- End of progress bar container -->
  </body> <!-- End of body section -->

  <script> <!-- Start of script section -->
    const TOTAL_TUTORIAL_STEPS = 4; // Total number of tutorial steps
    var current_tutorial_step = 1; // Current tutorial step

    // Get elements from the DOM
    const tutorial_title = document.querySelector(".tutorial_title");
    const tutorial_desc = document.querySelector(".tutorial_desc");
    const tutorial_next_btn = document.getElementById("tutorial_next_btn");
    const tutorial_image_element = document.getElementById("tutorial_media");
    const tutorial_progress_bar = document.querySelector(".tutorial_progress_bar");

    // Define tutorial media files
    const TUTORIAL_STEP_MEDIA_FILES = {
      2: "/static/tutorial/tutorial_game_layout.png",
      3: "/static/tutorial/tutorial_game_mechanics.gif",
      4: "/static/tutorial/tutorial_scoring.png",
    };

    // Define tutorial text
    const TUTORIAL_STEP_TEXT = {
      // ... (omitted for brevity)
    };

    // Add event listener to the next button
    tutorial_next_btn.addEventListener("click", () => {
      current_tutorial_step += 1; // Increment the current tutorial step
      updateTutorialUI(); // Update the tutorial UI
    });

    function updateTutorialUI() { // Function to update the tutorial UI
      if (current_tutorial_step == TOTAL_TUTORIAL_STEPS) {
        tutorial_next_btn.innerText = "Playground"; // Change the button text to "Playground" if we're at the last step
      }

      if (current_tutorial_step > TOTAL_TUTORIAL_STEPS) {
        window.location.href = "/tiles_game?playground=true"; // Redirect to the playground if we're past the last step
      }

      // Update the tutorial text
      tutorial_title.innerHTML = TUTORIAL_STEP_TEXT[current_tutorial_step].title;
      tutorial_desc.innerHTML = TUTORIAL_STEP_TEXT[current_tutorial_step].desc;

      // Update the tutorial media
      if (current_tutorial_step > 1) {
        tutorial_image_element.src = TUTORIAL_STEP_MEDIA_FILES[current_tutorial_step];
      }

      // Update the progress bar
      tutorial_progress_bar.style.width = `${(current_tutorial_step / TOTAL_TUTORIAL_STEPS) * 100}%`;
    }

    updateTutorialUI(); // Initial call to update the tutorial UI
  </script> <!-- End of script section -->
</html> <!-- End of HTML document -->
