<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/tiles.css') }}"
    /> -->

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/global.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/updated_scoring.css') }}"
    />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/precheck.css') }}" />

  </head>


  <body>
    <header>
      <p class="level_indicator"><span id="ttc_actual">{{ session.get("FileForPrediction") }} : Scoring</span></p>
    </header>

    <div class="updated_scoring_page_container">
      <!-- Mouse Data Score -->
      <div class="updated_scoring_mouse_data_wrapper">
        <h2 class="updated_scoring_mouse_data_title">How You Did</h2>
        <div class="updated_scoring_mouse_data_container">
          <!-- Emoji containers -->

          <div class="updated_scoring_mouse_data_item">

          {% if session.get("AverageEuclidanPercentChange") and (session.get("AverageEuclidanPercentChange") > 30) %}
            <div class="emoji_wrapper active">
            {% else %}
            <div class="emoji_wrapper">
            {% endif %}
              <img
                src="{{ url_for('static', filename='images/verySadYellowEmoji.svg') }}"
              />
            </div>
            <p class="updated_scoring_mouse_data_item_desc">Keep practicing</p>

          </div>


          
          <div class="updated_scoring_mouse_data_item">

            {% if session.get("AverageEuclidanPercentChange") and (session.get("AverageEuclidanPercentChange") > 20) and (session.get("AverageEuclidanPercentChange") <= 30) %}
            <div class="emoji_wrapper active">
            {% else %}
            <div class="emoji_wrapper">
            {% endif %}

              <img
                src="{{ url_for('static', filename='images/sadYellowEmoji.svg') }}"
              />
            </div>
            <!-- <p class="updated_scoring_mouse_data_item_desc">&nbsp;</p> -->
            <p class="updated_scoring_mouse_data_item_desc">You can do better</p>


          </div>



          <div class="updated_scoring_mouse_data_item">

            {% if session.get("AverageEuclidanPercentChange") and (session.get("AverageEuclidanPercentChange") > 10) and (session.get("AverageEuclidanPercentChange") <= 20) %}
            <div class="emoji_wrapper active">
            {% else %}
            <div class="emoji_wrapper">
            {% endif %}


              <img
                src="{{ url_for('static', filename='images/happyGreenEmoji.svg') }}"
              />
            </div>
            <p class="updated_scoring_mouse_data_item_desc">Way to go</p>

          </div>





          <div class="updated_scoring_mouse_data_item">
            <!-- <p class="updated_scoring_mouse_data_item_desc">>10%</p> -->

          {% if session.get("AverageEuclidanPercentChange") and session.get("AverageEuclidanPercentChange") > 0 and session.get("AverageEuclidanPercentChange") <= 10  %}
          <div class="emoji_wrapper active">
          {% else %}
            <div class="emoji_wrapper">
          {% endif %}
              <img
                src="{{ url_for('static', filename='images/veryHappyGreenEmoji.svg') }}"
              />
            </div>
            <p class="updated_scoring_mouse_data_item_desc">You were awesome!</p>
          </div>



        </div>




      </div>

      <br />
      <br />
      <br />

      <!-- Time to Complete -->
      <div class="updated_scoring_ttc_wrapper" style="align-items: center;">
        <h2 class="updated_scoring_ttc_title">Results</h2>
        <div class="updated_scoring_ttc_container">
          <!-- <div class="ttc_expected">
            Expected Time: <span id="ttc_expected">{{ session.get("ExpectedTimeToCompleteLevel")["minutes"] }}:{{ session.get("ExpectedTimeToCompleteLevel")["seconds"] }}</span>
          </div> -->

      <!-- <br />
      <br /> -->
          <div class="ttc_actual" style="text-align: center;">Time Taken: <span id="ttc_actual">{{ session.get("TimeToCompleteLevel")["ttc_minutes"] }}:{{ session.get("TimeToCompleteLevel")["ttc_seconds"] }}</span></div>
          <div class="ttc_actual" style="text-align: center;">Hyperactive: <span id="ttc_actual">{{ session.get("WatchPrediction")}}%  </span></div>
        </div>
      </div>
    </div>


    <!-- <div style="display: flex; flex-direction: column; align-items: center; gap: 5px; width: 100%">
      <input type="text" placeholder="Watch ID" id="watchID_input" />
    </div> -->


        <!-- Bring User to next level -->
        <!-- <div style="display: flex; justify-content: center;">
          <button id="next_level_btn" class="start_button pregame_disabled">
            Next Puzzle
          </button>
        </div> -->

    <div class="pregame_status_container" style="flex-direction: row;">
      <button id="next_level_btn" class="start_button pregame_disabled">
        Next Puzzle
      </button>
      <hr style="width: 2px; height: 30px; display: inline-block; margin: 0px 10px; background-color: black;">
      <button id="watch_status_check_btn" class="start_button">Check Watch Status</button>
      <div class="pregame_watch_status" id="watch_status_text">Offline</div>
      <svg id="watch_status_loading" class="second_spinner" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
      </svg>

    </div>




  </body>

  <script src="{{ url_for('static', filename='js/helper_functions.js') }}"></script>
  <script src="{{ url_for('static', filename='js/watch_check.js') }}"></script>

  <script>


    const nextLevelBtn = document.getElementById("next_level_btn");
    let current_level = Number(getLocalStorageOrNull("currentLevel")) || 1;
    let current_sub = Number(getLocalStorageOrNull("currentSubLevel")) || 1;

    console.log(current_level, current_sub)

    localStorage.setItem("mindgame_progress", "tiles");
    localStorage.setItem("mindgame_next_level", current_level + 1); // Go to next level
    localStorage.setItem("mindgame_next_sublevel", getRandomNumberInclusive(1, 3)); // Pick random puzzle

  </script>


  <script>
    let g_watch_status = false;
    let next_level = Number(getLocalStorageOrNull("mindgame_next_level")) || 1;
    let next_sub = Number(getLocalStorageOrNull("mindgame_next_sublevel")) || 1;

    if(current_level == 3){
      nextLevelBtn.classList.remove("pregame_disabled");
      nextLevelBtn.innerHTML = "Finish"
      localStorage.setItem("mindgame_progress", "home");
    }

    // Event listner for the check status button
    g_watch_check_watch_status_btn.addEventListener("click", async () => {
      nextLevelBtn.classList.add("pregame_disabled");


      //localStorage.setItem("watchID", watchID);
      await handleWatchStatusCheck((status) => {
        if (status == "online") {
          g_watch_status = true;
          nextLevelBtn.classList.remove("pregame_disabled");
        } else {
          g_watch_status = false;
          nextLevelBtn.classList.add("pregame_disabled");
        }
      }, getLocalStorageOrNull("watchID"));
    });

    // Update localStorage so that the next level is displayed on tiles_game page
    nextLevelBtn.addEventListener("click", () => {

      if(nextLevelBtn.classList.contains("pregame_disabled")) return;



      localStorage.setItem("currentLevel", next_level); // Go to next level
      localStorage.setItem("currentSubLevel", next_sub); 

      //Done with all levels
      if(current_level == 3){
        window.location.href = `/`;
        return;
      }

      //localStorage.setItem("currentLevel", current_level + 1); // Go to next level
      //localStorage.setItem("currentSubLevel", getRandomNumberInclusive(1, 3)); // Pick random puzzle
      window.location = "/tiles_game";

    });



  </script>
</html>


