body {
  background-color: rgb(254, 254, 254);
}

.landing_container {
  max-width: 1000px;
  margin: 0 auto;
}

.landing_title {
  text-align: center;
  font-size: calc(4vh + 3vw);
  font-family: "IBM Plex Sans", sans-serif;
}

.landing_hero_image_container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.landing_hero_image {
  width: min(70%, 200px);
  /* width: 700px; */
  height: auto;
}

/* ~~~~~~~~~~~~~~~~~~~~~~ Input Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.input-container {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

button[type="submit"],
input[type="text"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  width: 300px;
  transition: border-color 0.3s ease-in-out;
}
input[type="text"]:focus {
  border-color: #0099ff;
}

.gfg {
  margin: 3%;
  position: relative;
}

/*This CSS code is defining the styles for a container that holds text*/
.text-container {
  font-family: "IBM Plex Sans", sans-serif;
  position: absolute;
  color: #478f96;
  text-align: center;
  font-size: calc(4vh + 3vw);
  left: 18rem;
  top: -3rem;
  margin-left: 15%;
  /* background-color: rgb(41, 41, 41, 0.8); */
  padding: 0 1rem;
}

.text_container {
  font-family: "IBM Plex Sans", sans-serif;
  color: #478f96;
  text-align: center;
  font-size: calc(4vh + 3vw);

  /* background-color: rgb(41, 41, 41, 0.8); */
  padding: 0 1rem;
}

.start-button {
  position: absolute;
  background-color: #478f96; /* Green */
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  width: 150px;
  left: 18rem;
  top: 38rem;
  margin-left: 24%;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
  font-family: "IBM Plex Sans", sans-serif;
}

.start_button {
  background-color: #478f96; /* Green */
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  width: 250px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
  font-family: "IBM Plex Sans", sans-serif;
}

.btn_container {
  display: flex;
  gap: 20px;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
