body {
  background-color: rgb(255, 255, 255);
}

#nogo_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  background-color: black;
}

.nogo_square {
  width: 18%;
  height: 35%;
  background-color: rgb(97, 246, 137);
}

.nogo_circle {
  width: 18%;
  height: 35%;
  border-radius: 50%;
  background-color: rgb(246, 103, 92);
}
