.pregame_header {
  color: #478f96;
  font-weight: bold;
  font-size: calc(32px + 2vw);
  text-align: center;
  padding: 20px 0px 5px 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.pregame_directions {
  text-align: center;
  font-size: calc(16px + 1vw);
  padding: 10px 0px 50px 0px;
  color: #9c9c9c;
  font-family: "IBM Plex Sans", sans-serif;
}

.pregame_id {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: calc(5px +2vw);
  /* padding: 30px 0px 10px 0px; */
  color: #3b3b3b;
  font-weight: bold;

  font-family: "IBM Plex Sans", sans-serif;
}

.pregame_status_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 30px;
}

.pregame_watch_status {
  text-align: center;
  font-size: calc(12px + 1vw);
  font-weight: bold;

  font-family: sans-serif;
  color: rgb(219, 56, 56);
}

.start_button {
  background-color: #478f96;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 0.8em 2em; /* Adjusted for better proportion */
  min-width: 160px; /* Minimum width for better legibility */
  /* max-width: auto; Adjust based on your layout's needs */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  cursor: pointer;
  font-weight: bold;
  font-family: "IBM Plex Sans", sans-serif;
  box-sizing: border-box;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

.start_button:hover {
  background-color: #5ba2ad; /* Lighter shade for hover/focus */
  transform: scale(1.03); /* Slightly increase size */
  outline: none; /* Remove default focus outline */
}

.h_center {
  display: flex;
  justify-content: center;
}

input[type="text"] {
  padding: 1em; /* Use em for padding */
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1em; /* Use em for font-size */
  /* font-weight: bold; */
  outline: none;
  width: 100%; /* Full width */
  max-width: 30em; /* Max-width in em (equivalent to 300px) */
  transition: border-color 0.3s ease-in-out;
  box-sizing: border-box; /* Include padding and border in the width */
}

input[type="text"]:focus,
input[type="text"]:hover,
input[type="text"]:active {
  border-color: #0099ff;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  button[type="submit"],
  input[type="text"] {
    max-width: 100%; /* Full width on smaller screens */

    font-size: 0.9em; /* Slightly smaller font size */
  }
}

#pregame_start {
  margin-top: 40px;
}

.pregame_disabled {
  background-color: #9c9c9c;
  opacity: 0.6;
}

.pregame_disabled:hover {
  background-color: #9c9c9c !important;
}
