<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/global.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/landing_page.css') }}"
    />
    <title>Landing Page</title>

  </head>
  <body>


      <div class="center">
        <div class="text_container">Mind Game</div>
        <img 
        style="width:min(100%, 650px); height: auto ; ",
        src="{{ url_for('static', filename='images/landing_page_logo.png') }}"
        alt="Group">

        <!-- <div class="text_container_m5connection">Waiting for M5 to connect... </div> -->

        <div class="input-container">
          <input type="text" placeholder="Watch ID" id="watchID" />
        </div>

        <div class="btn_container">
          <button id="submitBtn"  class="start_button" required> Start </button>
          <a href="{{ url_for('tutorial') }}"><button class="start_button" >Tutorial</button></a>
          <a href="{{ url_for('nogo') }}"><button class="start_button" >Go/NoGo</button></a>
          
        </div>

      </div>
      


    </div>

    <script>
      const submitBtn = document.getElementById("submitBtn");
      const watchID_input = document.getElementById("watchID")

      submitBtn.addEventListener("click", () => {
        if (!watchID_input.value.match(/\S/)) {
          alert("Watch ID is empty");
          return;

        } else {
        localStorage.setItem("watchID", watchID_input.value);
        localStorage.setItem("userID", "test");
        localStorage.setItem("currentLevel", 1);
        localStorage.setItem("currentSubLevel", 1);

  
        window.location.href = "/tiles_game"; //Send to game
        }

      })
      


      /*const ID_Input = document.getElementById("userID");

      submitBtn.addEventListener("click", () => {
        if (!ID_Input.value.match(/\S/)) {
          alert("Field is blank");
        } else {
          localStorage.setItem("userID", ID_Input.value);
          localStorage.setItem("currentLevel", 1);

          window.location.href = "/tiles_game"; //Send to game
        }
      }); */
    </script>
  </body>
</html>
