<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/tiles.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/global.css') }}"
    />
  </head>
  <body>
    <header>
      <p class="level_indicator">Level <span id="level"> : Scoring</span></p>
    </header>
  </body>
</html>
